<h2 mat-dialog-title>Banco</h2>
<mat-dialog-content>
    <div class="dialog-container">
        <mat-form-field>
            <input matInput placeholder="Nombre" [(ngModel)]="banco.nombre">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Direcci&oacute;n" [(ngModel)]="banco.direccion">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ciudad" [(ngModel)]="banco.ciudad">
        </mat-form-field>
        <mat-form-field>
            <mat-select [compareWith]="compareObjects" placeholder="Pa&iacute;s" [(ngModel)]="banco.pais">
                <mat-option *ngFor="let pais of paises" [value]="pais">
                    {{ pais.pais }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Aba Routing No." [(ngModel)]="banco.aba">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="C&oacute;digo Swift" [(ngModel)]="banco.swift">
        </mat-form-field>

    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="primary" (click)="saveBanco()">Guardar</button>
</mat-dialog-actions>