<div class="row">
  <div class="col-sm"></div>
  <div class="col-sm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>LOG IN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Usuario">
            <mat-icon matSuffix>perm_identity</mat-icon>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Contrase&ntilde;a" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-button routerLink=".">Olvide contrase&ntilde;a</a>
        <button mat-raised-button color="primary">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm"></div>
</div>