<div class="pagina">
  <!--Titulo-->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Donantes</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--Contenido-->
  <div class="contenido">
    <mat-toolbar>
      <button mat-raised-button (click)="openDialog(null)">
        <mat-icon>person_add</mat-icon>Nueva donante</button>
    </mat-toolbar>
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="donantes" style="width: 100%;">

          <!-- Position Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> C&oacute;digo </th>
            <td mat-cell *matCellDef="let donante"> {{donante.codigo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="donante">
            <th mat-header-cell *matHeaderCellDef> Rubro </th>
            <td mat-cell *matCellDef="let donante"> {{donante.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="direccion">
            <th mat-header-cell *matHeaderCellDef> Direcci&oacute;n </th>
            <td mat-cell *matCellDef="let donante"> {{donante.direccion}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef> Pa&iacute;s </th>
            <td mat-cell *matCellDef="let donante"> {{ donante.pais ? donante.pais.pais : ''}} </td>
          </ng-container>
          
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> </th>
         
            <td mat-cell *matCellDef="let donante"> 
              <button mat-icon-button color="primary"
              matTooltip="Editar donante" (click)="openDialog(donante)">
                <mat-icon>edit</mat-icon></button>
                <button mat-icon-button color="warn"
              matTooltip="Eliminar donante" >
                <mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['codigo', 'donante', 'direccion', 'pais', 'action']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['codigo', 'donante', 'direccion', 'pais', 'action'];" (dblclick)="openDialog(row)">
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>