<h2 mat-dialog-title>Archivos</h2>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Archivos">

            <div class="actividad-container">
                <table mat-table [dataSource]="proyecto.archivos" style="width: 100%;">

                    <!-- Position Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Actividad </th>
                        <td mat-cell *matCellDef="let archivo"> {{archivo.nombre}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
                        <td mat-cell *matCellDef="let archivo"> {{archivo.descripcion}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let archivo"> {{ archivo.tipo }} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let archivo"> <button mat-button>
                                <mat-icon>folder_open</mat-icon>
                            </button> </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="['nombre', 'descripcion', 'tipo', 'action']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['nombre', 'descripcion', 'tipo', 'action'];">
                    </tr>
                </table>
            </div>

        </mat-tab>
        <mat-tab label="Nueva Archivo">

            <div class="actividad-container">
                <mat-form-field>
                    <input matInput placeholder="Nombre" [(ngModel)]="proyectoArchivo.nombre">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Descripci&oacute;n" [(ngModel)]="proyectoArchivo.descripcion">
                </mat-form-field>
                <button mat-button color="warn" onclick="document.getElementById('fileToUpload').click()">
                    <mat-icon>add</mat-icon>Seleccionar archivo
                </button>
                <input id="fileToUpload" #file type="file" (change)="onChange($event)" value="add">
        
                <button mat-raised-button color="primary" >Agregar</button>
            </div>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. 
    <button mat-raised-button color="primary" (click)="saveConvenio()">Guardar</button>-->
</mat-dialog-actions>